body{
    margin: 0;
    padding: 0;
}
/* Hero */
.container{
    background-color: rgb(190, 229, 248);
    display: flex;
    align-items: center;
    padding: 50px 20px;
}
.info-container{
    padding: 15px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 40px;
}

.info-container h1{
    font-size: 65px;
    color: rgb(0, 170, 255);
}

.info-container h4{
    font-style: italic;
    color: rgb(62, 61, 61);
}
.info-container .btn{
    padding: 10px 50px;
    background-color: rgb(159, 219, 249);
    border: none;
    font-size: 17px;
    text-decoration: none;
    color: rgb(62, 61, 61);
    
}
.info-container .btn:hover{
    background-color: rgb(79, 188, 242);
}

/* For all headings */
.heading{
    font-size: 40px;
    color: rgb(54, 157, 209);
}

/* skills  */
.skills{
    padding: 50px 20px;
}
.container-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container-skills .cardSkill{
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 5px 5px #cacaca;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.blue{
    background-color: rgb(235, 249, 253);
}
.green{
    background-color: rgb(222, 255, 244);
}
.pink{
    background-color: rgb(251, 241, 243);
}
.yellow{
    background-color: rgb(253, 253, 213);
}

/* projects */
.project{
    padding: 20px;
}

.card-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card-container .card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5%;
    box-shadow: 5px 3px 3px 1px #cacaca;
    padding: 20px;
}
.card-container .card img{
    width:100%;
    height: 200px;
}
.card-container button,.btn-git{ 
    padding: 10px;
    border: none;
    border-radius: 9px;
    background-color: rgb(159, 219, 249);
    text-decoration: none;
    font-size: 13px;
    color: rgb(62, 61, 61);
}

/* contact  */
.contact{
    padding: 20px;
}
.contact div{
    padding: 0 20px;
}